<!--6.3-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
    <h3>Student Registration</h3>
    <form th:action="@{processStudentForm}" th:object="${student}" method="POST">
        <label>First Name : </label>
        <input type="text" th:field="*{firstName}"/>
        <br><br>

        <label>Last Name: </label>
        <input type="text" th:field="*{lastName}" />
        <br><br>
<!-- 7-->
<!--        <label>Country: </label>-->
<!--        <select th:field="*{country}">-->
<!--            <option th:value="BR">Brazil</option>-->
<!--            <option th:value="IND">India</option>-->
<!--            <option th:value="ARG">Argentina</option>-->
<!--            <option th:value="NZ">New Zealand</option>-->
<!--            <option th:value="IRE">Ireland</option>-->
<!--        </select>-->
        <label>Country: </label>
        <select th:field="*{country}"> <!--th:field="${student.country} also works, in code is just shortcut -->
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
                    <!-- each is a for each look , it loops over list of country, "tempCOuntry" is the temp loop variable -->
                    <!-- th:value -> values send during submition -->
                    <!-- th:text -> values displayed to user -->
        </select>
        <br><br>

        <label>Favorite Programming Language: </label>
        <!-- 9.4 -->
<!--        <input type="radio" th:field="*{favoriteLanguage}" th:value="Go">Go</input>-->
<!--        <input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>-->
<!--        <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>-->

        <!-- 10.4 -->
            <input type="radio" th:field="*{favoriteLanguage}"
                                th:each="tempLanguage : ${languages}"
                                th:value="${tempLanguage}"
                                th:text="${tempLanguage}"
            />
        <br><br>


        <input type="submit" value="submit" />
    </form>
</body>
</html>